<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>천안사이트</title>
    <link rel="stylesheet" href="{% static 'teamangel/assets/css/main.css' %}" media="screen">



</head>
<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<!-- edit button -->
									{% if user.is_authenticated and user == post.author %}
										<a class="btn btn-info btn-sm float-right" href="/teamangel/update_post/{{ post.pk }}/" role="button"><i class ="fas fa-pen"></i>Edit Post</a>
									{% endif %}
									<a href="/teamangel/" class="logo"><strong>HOME PAGE</strong></a>
									<ul class="icons">
										{% if user.is_authenticated %}
											<li><a href="{% url 'account_logout' %}" class="button primary small">Logout</a></li>
										{% else %}
											<li><a href="{% url 'account_login' %}" class="button small">Login</a></li>
										{% endif %}
										<li><a href="https://www.youtube.com/channel/UC893trfAnCUjJcbPE9z6XWA" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
										<li><a href="https://www.facebook.com/people/%EC%B2%9C%EC%95%88%EC%82%AC%EC%9D%B4%ED%8A%B8/61551860214367/?mibextid=ZbWKwL" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/cheonansite/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</header>

							<!-- Section -->
							<section>
								<div class="posts">
									{% for p in post_list %}
									<article>
										{% if p.head_image %}
											<span class="image"><img src="{{ p.head_image.url }}" alt="{{ p.title }} head-image" /></span>
										{% else %}
											<span class="image"><img src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random-image" /></span>
										{% endif %}
										<!-- 이미지 넣기 -->
										<h2>{{ p.title }}</h2> <!-- 수정된 부분 -->
										{% if p.hook_text %}
											<h5 class="text-muted">{{ p.hook_text }}</h5> <!-- class 부분수정 -->
										{% endif %}
										<p>{{ p.content | truncatewords:20}}</p> <!-- 수정된 부분 -->
										<div>작성날짜 {{ p.created_at }} by
										{{ p.author | upper }}</div>
										<ul class="actions">
											<li><a href="{{ p.get_absolute_url }}" class="button">More</a></li>
										</ul>
										<p>조회수: {{ p.views }}</p>
									</article>
									{% endfor %}
								</div>

								{% if is_paginated %}
									<style>
										/* 페이지네이션을 감싸는 div 스타일 */
										.pagination-wrapper {
											width: 100%;
											text-align: center;
											position: relative;
											margin-top: 20px; /* 상단 여백 추가 */
										}

										/* 페이지네이션 ul 스타일 */
										.pagination-wrapper .pagination {
											display: inline-block; /* 중앙 정렬을 위해 인라인 블록으로 설정 */
										}
									</style>

									<div class="pagination-wrapper">
										<!-- Pagination-->
										<ul class="pagination">
											{% if page_obj.has_previous %}
											<li class="page-item">
												<a class="page-link button" href="?page={{ page_obj.previous_page_number }}">&larr; Prev</a>
											</li>
											{% else %}
											<li class="page-item disabled">
												<span class="page-link button">&larr; Prev</span>
											</li>
											{% endif %}

											{% for i in paginator.page_range %}
											{% if i == page_obj.number %}
											<li class="page-item active">
												<a class="page" href="?page={{ i }}">{{ i }}</a>
											</li>
											{% else %}
											<li class="page-item">
												<a class="page" href="?page={{ i }}">{{ i }}</a>
											</li>
											{% endif %}
											{% endfor %}

											{% if page_obj.has_next %}
											<li class="page-item">
												<a class="page-link button" href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
											</li>
											{% else %}
											<li class="page-item disabled">
												<span class="page-link button">Next &rarr;</span>
											</li>
											{% endif %}
										</ul>
									</div>
									{% endif %}

							</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="https://search.naver.com/search.naver" target="_blank">
										<input type="text" name="query" id="query" placeholder="Press Enter" />
									</form>
								</section>
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/teamangel/">Homepage</a></li>
										{% for category in categories %}
										<li>
											<a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count}})</a>
										</li>
										{% endfor %}
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<h5>비즈니스 제의 및 의견 공유는 아래로 해주세요.</h5>
									<ul class="contact">
										<li class="icon solid fa-envelope">youniyamii@gamil.com</a></li>
										<li class="icon solid fa-phone">+82-10-7628-6477</li>
										<li class="icon solid fa-home">1234 Somewhere Road<br />
										충청남도 천안시 동남구 상명대길 31</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'teamangel/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'teamangel/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'teamangel/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'teamangel/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'teamangel/assets/js/util.js' %}"></script>
			<script src="{% static 'teamangel/assets/js/main.js' %}"></script>

	</body>
</html>