<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ post.title }} - Cheonnan Site</title>
    <link rel="stylesheet" href="{% static 'teamangel/assets/css/main.css' %}" media="screen">
</head>
<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/teamangel/" class="logo"><strong>HOME PAGE</strong></a>
									<ul class="icons">

										{% if user.is_authenticated %}
											<li><a href="{% url 'account_logout' %}" class="button primary small">Logout</a></li>
										{% else %}
											<li><a href="{% url 'account_login' %}" class="button small">Login</a></li>
										{% endif %}
										<li><a href="https://www.youtube.com/channel/UC893trfAnCUjJcbPE9z6XWA" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
										<li><a href="https://www.facebook.com/people/%EC%B2%9C%EC%95%88%EC%82%AC%EC%9D%B4%ED%8A%B8/61551860214367/?mibextid=ZbWKwL" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/cheonansite/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</header>


							<!-- Conwtent -->
								<section>
									<header class="main">
										{% if user.is_authenticated and user == post.author %}
											<a class="btn btn-info btn-sm float-right" href="/teamangel/update_post/{{ post.pk }}/" role="button"><i class ="fas fa-pen"></i>Edit Post</a>
										{% endif %}
										<h1>{{ post.title }}</h1>

										<h5>{{ post.hook_text }}</h5> <!-- 클래스 수정하기 -->
                                        <h4>{{ post.created_at }}</h4>
									</header>
									{% if post.head_image %}
									<span class="image main"><img src="{{ post.head_image.url}}" alt="{{ post }} head-image" /></span>
									{% else %}
									<span class="image main" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random-image"></span>
									{% endif %}
									<hr class="major" />

									<h2>POST CONTENTS</h2>
									<p>{{ post.content }}</p>
									<p>여기에 포스트 부분입니다</p>

									<hr class="major" />
									<!-- 첨부파일 다운로드 -->
									{% if post.file_upload %}
										<a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>Download:
											{% if post.get_file_ext == 'csv' %}
												<i class="fas fa-file-cvs"></i>
											{% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
												<i class="fas fa-file-excel"></i>
											{% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
												<i class="fas fa-file-word"></i>
											{% else %}
												<i class="fas fa-file"></i>
											{% endif %}
										{{ post.get_file_name }}
										</a>
									{% endif %}


									<!-- Comment -->
									{% if user.is_authenticated %}
									<form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
										{% csrf_token %}
										<div class="col-12">
											<textarea name="content" id="demo-message" placeholder="Enter your message" rows="6">{{ comment_form.content }}</textarea>
										</div>
										<!-- Break -->
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Submit" class="primary" /></li>
											</ul>
										</div>
									</form>

									{% else %}
									<div class="col-6 col-12-small">
										<ul class="actions stacked">
											<li>
												<a href="#" class="button small fit btn btn-outline-dark btn-block btn-sm"
													data-toggle="modal" data-target="#loginModal">Log In and leave a comment</a>
											</li>
										</ul>
									</div>
									{% endif %}

									{% if post.comment_set.exists %}
										{% for comment in post.comment_set.iterator %}
										<div class="media mb-4" id="comment- {{ comment.pk }}">
											<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50*50" alt="">
											<div class="media-body">
												<h5 class="mt-0">{{	comment.author.username }} &nbsp;&nbsp;<small class="text-muted">
													{{ comment.created_at }}</small>
												</h5>
												<p>{{ comment.content | linebreaks }}</p>
												{% if comment.created_at != comment.modified_at %}
													<p class="text-muted float-right"><small>Updated: {{comment.modified_at}}</small></p>
												{% endif %}
												{% if user.is_authenticated and comment.author == user %}
													<a class="btn btn-sm btn-info button primary" role="button" id="comment-{{ comment.pk }}-update-btn" href="/teamangel/update_comment/{{comment.pk}}/">
														<small>Edit</small>
													</a>

													<a class="btn btn-sm btn-danger button" role="button" id="comment-{{ comment.pk }}-delete-modal-btn" href="/teamangel/delete_comment/{{comment.pk}}">
														<small>Delete</small>
													</a>
												{% endif %}
											</div>
										</div>

										{% endfor %}
									{% endif %}
								</section>
								{% if is_paginated %}
							<!-- Pagination-->
							<div style="width: 100%; text-align: center;  bottom: 0px;">
									<ul class="pagination" style="left: 0; right: 0">
										{% if page_obj.has_previous %}
											<li class="page-item">
												<a class="page-link button" href="?page={{ page_obj.previous_page_number }}">&larr; Prev</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<span class="page-link button">&larr; Prev</span>
											</li>
										{% endif %}

										{% for i in paginator.page_range %}
											{% if i == page_obj.number %}
											<li class="page-item active">
												<a class="page" href="?page={{ i }}">{{ i }}</a>
											</li>
											{% else %}
											<li class="page-item">
												<a class="page" href="?page={{ i }}">{{ i }}</a>
											</li>
											{% endif %}
											{% endfor %}

										{% if page_obj.has_next %}
											<li class="page-item">
												<a class="page-link button" href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<span class="page-link button">Next &rarr;</span>
											</li>
										{% endif %}
									</ul>
							</div>
							{% endif %}
						</div>
					</div>
				<!-- Pagination-->


				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="https://search.naver.com/search.naver" target="_blank">
										<input type="text" name="query" id="query" placeholder="Press Enter" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/teamangel/">Homepage</a></li>
										{% for category in categories %}
										<li>
											<a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count}})</a>
										</li>
										{% endfor %}
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<h5>비즈니스 제의 및 의견 공유는 아래로 해주세요.</h5>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>