<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>포스트 작성</title>
    <link rel="stylesheet" href="{% static 'teamangel/assets/css/main.css' %}" media="screen"><link rel="stylesheet" href="{% static 'teamangel/assets/css/main.css' %}" media="screen">



</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
               <header id="header">
					<a href="/teamangel/" class="logo"><strong>HOME PAGE</strong></a>
					<ul class="icons">
						{% if user.is_authenticated %}
							<li><a href="{% url 'account_logout' %}" class="button primary small">Logout</a></li>
						{% else %}
							<li><a href="{% url 'account_login' %}" class="button small">Login</a></li>
						{% endif %}
						<li><a href="https://www.youtube.com/channel/UC893trfAnCUjJcbPE9z6XWA" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
						<li><a href="https://www.facebook.com/people/%EC%B2%9C%EC%95%88%EC%82%AC%EC%9D%B4%ED%8A%B8/61551860214367/?mibextid=ZbWKwL" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/cheonansite/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</header>

                <!-- 포스트 작성 폼 -->
				<section>
					<header class="major">
						<h2>포스트 작성</h2>
					</header>
					<div class="content">
						<!-- 폼 시작 -->
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{ form.as_p }}
							<label for="images">이미지 업로드:</label>
							<input type="file" name="images" multiple>
							<br>
							<button type="submit" style="width: 100%; text-align: center; bottom: 0px;">저장</button>
						</form>
						<!-- 폼 끝 -->
					</div>
					<style>
						#id_title{
							text-align: center;
						}
						#id_hook_text{
							text-align: center;
						}
						#id_content {
							text-align: center;
						}
					</style>
				</section>


            </div>
        </div>
		<!--sidebar -->
		<div id="sidebar">
			<div class="inner">
						<!-- Search -->
							<section id="search" class="alt">
								<form method="get" action="https://search.naver.com/search.naver" target="_blank">
									<input type="text" name="query" id="query" placeholder="Press Enter" />
								</form>
							</section>
						<!-- Menu -->
						<nav id="menu">
							<header class="major">
								<h2>Menu</h2>
							</header>
							<ul>
								<li><a href="/teamangel/">Homepage</a></li>
								{% for category in categories %}
									{% if not category.parent %}
										<li>
											<!-- 서브카테고리가 있을 경우에만 opener를 표시 -->
											{% if category.category_set.all %}
												<span class="opener">{{ category.name }}</span>
												<ul>
													{% for subcategory in category.category_set.all %}
														<li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
													{% endfor %}
												</ul>
											{% else %}
												<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
											{% endif %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
						<!-- Section -->
							<section>
								<header class="major">
									<h2>Get in touch</h2>
								</header>
								<h5>비즈니스 제의 및 의견 공유는 아래로 해주세요.</h5>
								<ul class="contact">
									<li class="icon solid fa-envelope">youniyamii@gamil.com</a></li>
									<li class="icon solid fa-phone">+82-10-7628-6477</li>
									<li class="icon solid fa-home">1234 Somewhere Road<br />
									충청남도 천안시 동남구 상명대길 31</li>
								</ul>
							</section>
						</div>
					</div>
    </div>



    <!-- Scripts -->
    <script src="{% static 'teamangel/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'teamangel/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'teamangel/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'teamangel/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'teamangel/assets/js/util.js' %}"></script>
	<script src="{% static 'teamangel/assets/js/main.js' %}"></script>
</body>
</html>
